div.mediabox {
  float: left;
  background: #000000;
  padding: 5px;
  margin: 5px;
  #font-size: 0.8em;
  filter: alpha(opacity=92);
  opacity: 0.92;
}

div.git_data_message {
	clear: left;
	float: left;
	width: 600px;
	padding: 5px;
}

div.git_data_date {
	float: left;
	width: 180px;
	padding: 5px;
}

div.git_data_user {
	float: left;
	width: 160px;
	padding: 5px;
}

div.git_data_email {
	float: left;
	width: 280px;
	padding: 5px;
}

div.git_data_id {
	float: left;
	width: 360px;
	padding: 5px;
}

label {
	font-weight:bold;
	width:100px;
	font-size:14px;
}

.box {
	border:#666666 solid 1px;
}